# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
/venv/
/.env/

# Database files
*.sqlite3
*.db
*.sqlite

# Cache files
*.cache
*.log
*.tmp

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# Python packaging
*.egg-info/
dist/
build/
.eggs/
